<h1>Dragon Ball Z</h1>
<hr />
<section class="row">
  <article class="column">
    <!-- <h3>Personajes</h3>
    <hr />
    <ul>
      <li *ngFor="let character of characterList; let i = index">
        {{ character.name }} - {{ character.power | number }}
      </li>
    </ul> -->
    <app-character-list [characterList]="characterList"></app-character-list>
  </article>
  <article class="column">
    <app-add-character
      [characterList]="characterList"
      [newCharacter]="newCharacter"
    ></app-add-character>
  </article>
</section>
